.selector
	display flex
	flex-direction column
	justify-content center
	align-items center
	min-height 100vh
	padding 15px

	&-title
		font-size 3em
		margin 0 0 0.5em 0

	&-section
		margin 5px 0

	&-note
		margin-top 3em
		font-size 0.8em
		color inherit

		&:hover,
		&:active,
		&:focus
			text-decoration none
