extends layouts/default

append vars
	- var page = 'index'
	- var description = 'Shows currently playing track.'

block content

	form(action="screen.html", method="get")
		div
			input(type="text", name="u", placeholder="Username")
		div
			input#disableNotifications(type="checkbox", name="disableNotifications", value="y")
			label(for="disableNotifications") Disable notifications

		button Submit



