extends layouts/default

append vars
	- var page = 'index'
	- var description = 'Shows currently playing track.'

block content

	form(action='screen.html', method='get').selector
		h1.selector-title= global.title
		.selector-section
			input(type='text', name='u', placeholder='Username')
		.selector-section
			input#disableNotifications(type='checkbox', name='disableNotifications', value='y')
			label(for="disableNotifications") Disable notifications
		.selector-section
		button Submit

		a.selector-note(href='https://github.com/Onset/Last.fm-now', target='_blank') About Last.fm now
