.states#states
	.states-loading
		.states-in
			.states-icon
			.states-note
	.states-error
		.states-in
			.states-icon
			.states-note

script.
	initComponents.push({
		name: 'states',
		place: '#states'
	})
