section.user#user
	.user-in
		.user-avatar(style="background-image: url('https://lastfm-img2.akamaized.net/i/u/174s/f83465d8464f42fec2b7608910ffe391.png')")
		a.user-name(href='', target='_blank') Filip

script.
	initComponents.push({
		name: 'user',
		place: '#user'
	})
