body {
	background: black;
	color: white;
	font-family: Verdana, Geneva, sans-serif;
}

.loading {
	animation: loading-intro 4s 2s backwards;
	transition: opacity 0.3s, visibility 0.3s;
	pointer-events: none;
}
.loading.view-done {
	opacity: 0;
	visibility: hidden;
}
.loading:before {
	position: fixed;
	left: 50%;
	top: 50%;
	border: 0.3em solid white;
	width: 10vw;
	height: 10vw;
	margin: -5vw 0 0 -5vw;
	border-radius: 50%;
	animation: loading-pulse 2s ease-in-out infinite;
	content: '';
	box-sizing: border-box;
}
@keyframes loading-intro {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes loading-pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.5);
	}
}


.track {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.track-item {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s, visibility 0.5s;
}

.track-item.view-new,
.track-item.view-old {
	opacity: 0;
	visibility: hidden;
}

.track-item.view-old {
	transition-delay: 0.5s;
}

.track-item.view-nocover {
	background-color: rgba(255,255,255,0.2);
}

.track-item.view-nocover .track-cover {
	display: none;
}

.track-under,
.track-cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.track-under {
	position: absolute;
	top: -30px;
	left: -30px;
	right: -30px;
	bottom: -30px;
	opacity: 0.85;
	-webkit-filter: grayscale(100%) blur(1vw);
	filter: grayscale(100%) blur(1vw);
}

.track-in {
	position: relative;
	display: inline-block;
	padding: 15px;
	max-width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.track-cover {
	margin: 0 auto;
	width: 300px;
	max-width: 100%;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.track-cover:before {
	display: block;
	padding-top: 100%;
	content: '';
}

.track-info {
	text-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.track-title {
	margin-top: 0.25em;
	font-size: 3em;
	color: inherit;
	text-decoration: none;
}
.track-title:hover,
.track-title:active,
.track-title:hover:focus {
	text-decoration: underline
}
.track-title:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
}


.track-artist {
	font-size: 2em;
	padding: 0.5em 0;
}

.track-album {
}


@media (min-width: 700px) {
	.track-in {
		flex-direction: row;
	}

	.track-cover {
		margin-right: 20px;
		float: left;
	}

	.track-info {
		max-width: 500px;
		min-width: 300px;
	}

	.track-title {
		margin-top: -0.23em;
	}
}


.selector {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	z-index: 10;
	padding: 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s, visibility 0.5s;
}

.selector.view-hidden {
	visibility: hidden;
	opacity: 0;
}

.selector-title {
	font-size: 50px;
}

.selector-input {
	display: block;
	font-size: 35px;
	width: 300px;
}

.selector-submit {
	margin-top: 10px;
	font-size: 20px;
	cursor: pointer;
}

.selector-input,
.selector-submit {
	font-family: inherit;
	text-align: center;
	background: rgba(0,0,0,0.8);
	border: 2px solid;
	border-radius: 3px;
	color: inherit;
}

.selector-loading {
	position: relative;
	z-index: -1;
	opacity: 0.1;
}

.selector-about {
	margin-top: 50px;
	font-size: 80%;
	color: inherit;
}
